Repository mruby/mruby, pull requests merged in 2023-12, with the labels that each got.

#6109 Needs `cipop()` before crossing the C boundary
  src/vm.c
Labels: core

#6103 RBreak remembers the CI location
  include/mruby/error.h
  mrbgems/mruby-catch/src/catch.c
  src/gc.c
  src/vm.c
Labels: core, mrbgems

#6113 Remove unreachable code in `OP_R_BREAK`
  src/vm.c
Labels: core

#6106 Ease fiber limitations
  include/mruby.h
  mrbgems/mruby-fiber/src/fiber.c
  mrbgems/mruby-fiber/test/fiber.rb
  mrbgems/mruby-fiber/test/fiber2.rb
  mrbgems/mruby-fiber/test/fibertest.c
  src/vm.c
Labels: core, mrbgems

#6114 Move `L_RAISE` and `L_BREAK` blocks to `OP_RAISEIF`
  src/vm.c
Labels: core

#6119 docs: fix spelling
  doc/internal/boxing.md
  mrbgems/mruby-bigint/README-fgmp.md
Labels: doc, mrbgems

#6115 Replace `for` and `CHECKPOINT` block comprehensions
  src/vm.c
Labels: core

#6116 Improve branching in the execution part of the `OP_SEND` block
  src/vm.c
Labels: core

#6118 Fixed `IO#read` with `buf`.
  mrbgems/mruby-io/src/io.c
  mrbgems/mruby-io/test/io.rb
Labels: mrbgems

#6120 Set `EBADF` if `check_file_descriptor()` fails
  mrbgems/mruby-io/src/io.c
Labels: mrbgems

#6121 Separate unwinding process for `break` / `return`
  include/mruby/opcode.h
  src/vm.c
Labels: core

#6122 Prohibit `Class#allocate` in a different way
  include/mruby/class.h
  mrbgems/mruby-binding/src/binding.c
  mrbgems/mruby-complex/src/complex.c
  mrbgems/mruby-data/src/data.c
  mrbgems/mruby-method/src/method.c
  mrbgems/mruby-rational/src/rational.c
  mrbgems/mruby-struct/src/struct.c
  src/class.c
  src/gc.c
  src/numeric.c
  src/proc.c
Labels: core, mrbgems

#6124 `mruby-time`: protect against incorrectly defined `_POSIX_TIMERS`
  mrbgems/mruby-time/src/time.c
Labels: mrbgems

#6130 `dreamcast_shelf build config`: complete overhaul
  build_config/dreamcast_shelf.rb
Labels: build

#6123 Inherit `MRB_FL_UNDEF_ALLOCATE` in subclasses
  include/mruby/class.h
  mrbgems/mruby-data/src/data.c
  mrbgems/mruby-struct/src/struct.c
  src/class.c
Labels: core, mrbgems

#6125 Allow `OP_RETURN_BLK` to cross C boundaries
  src/vm.c
Labels: core

#6126 Fixed return value of `OP_RETURN_BLK` called directly under C function
  src/vm.c
Labels: core

#6127 Changed parameters for `catch_handler_find()`
  src/vm.c
Labels: core

#6128 Integrates the sequence when a fiber is terminated by `OP_RETURN`
  src/vm.c
Labels: core
