Repository mruby/mruby, pull requests merged in 2023-08, with the labels that each got.

#6035 Fix Super-Linter action path
  .github/workflows/super-linter.yml
Labels: github

#6038 Revert "Rake: update task clean to remove `bin` and `build` folders"
  Rakefile
Labels: build

#6040 Convert to string before output in `puts`
  mrbgems/mruby-print/mrblib/print.rb
Labels: mrbgems
