Repository mruby/mruby, pull requests merged in 2023-06, with the labels that each got.

#6019 docs: remove duplicate CVE from list
  doc/mruby3.2.md
Labels: doc

#6020 Enable markdownlint rule MD052
  .github/linters/.markdown-lint.yml
  doc/guides/gc-arena-howto.md
Labels: doc

#6018 Configure Dependabot updates for Bundler/Ruby
  .github/dependabot.yml
Labels: github

#6021 NEWS: remove duplicate CVE from list
  NEWS
Labels: doc

#6022 Build configuration for MS-DOS and DJGPP
  build_config/i586-pc-msdosdjgpp.rb
  mrbgems/mruby-dir/src/dir.c
  mrbgems/mruby-io/src/file.c
  mrbgems/mruby-io/src/file_test.c
  mrbgems/mruby-io/src/io.c
Labels: build, mrbgems

#6023 "expose_header_files" task split per build
  tasks/libmruby.rake
Labels: build
