Repository mruby/mruby, pull requests merged in 2023-05, with the labels that each got.

#5994 fix typo in mrbgems/mruby-io/src/io.c
  mrbgems/mruby-io/src/io.c
Labels: mrbgems

#5996 Change `MRuby` to `mruby`
  CONTRIBUTING.md
  include/mruby.h
  include/mruby/common.h
  include/mruby/compile.h
  include/mruby/debug.h
  include/mruby/error.h
  include/mruby/value.h
Labels: core, doc

#6003 `.github/labeler.yml`: label more files for `doc`
  .github/labeler.yml
Labels: github

#6009 Avoid adding `<MRUBY_ROOT>/bintest` which does not exist
  lib/mruby/build.rb
Labels: build

#6008 Make "bintest" independent of directory
  lib/mruby/build.rb
Labels: build

#6001 docs: fix links, grammar and spelling in Markdown
  README.md
  doc/guides/compile.md
  doc/guides/gc-arena-howto.md
  doc/guides/mrbgems.md
  doc/mruby3.0.md
  mrbgems/mruby-socket/README.md
Labels: doc, mrbgems

#6002 mrbgems: standardize `spec.authors` for whitespace and author name
  mrbgems/mruby-dir/mrbgem.rake
  mrbgems/mruby-socket/mrbgem.rake
Labels: mrbgems

#6004 yml: document `workflows` with links as comments
  .github/workflows/labeler.yml
  .github/workflows/lint.yml
  .github/workflows/oss-fuzz.yml
  .github/workflows/super-linter.yml
Labels: github

#6006 Remove `mrb_final_mrbgems()` in `mrbc.c`
  mrbgems/mruby-bin-mrbc/tools/mrbc/mrbc.c
Labels: mrbgems

#6010 pre-commit: add hook `markdown-link-check`
  .pre-commit-config.yaml
  doc/mruby3.2.md
Labels: doc

#6011 Encode and decode escape characters for presym
  lib/mruby/presym.rb
Labels: build

#6012 Allow tests to be disabled for specific gems; warn about disabled tests
  doc/guides/mrbgems.md
  lib/mruby/gem.rb
  mrbgems/mruby-test/mrbgem.rake
Labels: build, doc, mrbgems

#6013 Fix Android toolchain
  build_config/android_arm64_v8a.rb
  build_config/android_armeabi.rb
  build_config/android_armeabi_v7a_neon_hard.rb
  tasks/toolchains/android.rake
Labels: build

#6014 Fixed visibility of `MRuby::Command::Compiler#setup_debug`
  lib/mruby/build/command.rb
Labels: build
