Repository mruby/mruby, pull requests merged in 2023-10, with the labels that each got.

#6071 pre-commit autoupdate; fix spelling
  .pre-commit-config.yaml
  examples/mrbgems/mruby-YOUR-bigint/TODO-HINT.md
  src/string.c
Labels: core, doc

#6069 Corrected wrong `MRUBY_PACKAGE_DIR`
  tasks/libmruby.rake
Labels: build

#6076 Fixed unwinding block that could point to invalid PC
  src/vm.c
Labels: core

#6078 Fix indentation in two Ruby files
  mrbgems/mruby-array-ext/mrblib/array.rb
  mrbgems/mruby-set/mrblib/set.rb
Labels: mrbgems

#6079 include/mruby/version.h: change `MRuby` to `mruby`
  include/mruby/version.h
Labels: core

#6081 Add "x" mode option for `IO.open`
  mrbgems/mruby-io/src/io.c
  mrbgems/mruby-io/test/file.rb
Labels: mrbgems

#6085 Fixed `MRuby::Build#define_installer`
  lib/mruby/build.rb
Labels: build

#6086 Add build config for Nintendo Wii
  build_config/nintendo_wii.rb
Labels: build

#6056 Brush up `build_config/host-shared.rb` file
  build_config/host-shared.rb
Labels: build

#6088 Standardize Markdown table format
  doc/guides/debugger.md
Labels: doc
