Repository mruby/mruby, pull requests merged in 2023-09, with the labels that each got.

#6045 Fixes escape sequence bug and enhancements in Presym scanning
  lib/mruby/presym.rb
Labels: build

#6054 Extends `bin/mruby-config`
  mrbgems/mruby-bin-config/mruby-config
  mrbgems/mruby-bin-config/mruby-config.bat
Labels: mrbgems

#6055 Fix libmruby name for VisualC++
  tasks/libmruby.rake
Labels: build

#6070 Demotion mrb_f_raise() in kernel.c from MRB_API too
  src/kernel.c
Labels: core
