Repository mruby/mruby, pull requests merged in 2023-11, with the labels that each got.

#6091 Fixed acquisition of wrong target class in `Kernel#binding`
  mrbgems/mruby-eval/test/binding.rb
  src/proc.c
Labels: core, mrbgems

#6090 fix(class.c): typo in format specifiers
  src/class.c
Labels: core

#6092 Get from local only if there is no default branch name
  lib/mruby/build/load_gems.rb
Labels: build

#6097 Add a new `mrb_fiber_new()` with MRB_API
  include/mruby.h
  mrbgems/mruby-fiber/src/fiber.c
Labels: core, mrbgems

#6101 Reorganization of unwinding at `break` / `return`.
  src/vm.c
Labels: core
