Repository mruby/mruby, pull requests merged in 2024-06, with the labels that each got.

#6283 Simplify `uvenv()`
  src/vm.c
Labels: core

#6282 Delegate the care of a directly given block from `cipop()` to `cipush()`
  include/mruby.h
  include/mruby/internal.h
  src/vm.c
Labels: core

#6289 Simplify `OP_RETURN_BLK` and `OP_BREAK
  src/vm.c
Labels: core

#6288 Detach `env` of ci explicitly on atexit
  src/error.c
Labels: core

#6290 Allow to change the output directory name of the `libmruby` file
  build_config/default.rb
  doc/guides/compile.md
  lib/mruby/build.rb
  mrbgems/mruby-bin-config/mrbgem.rake
  tasks/install.rake
  tasks/libmruby.rake
Labels: build, doc, mrbgems

#6292 markdownlint --fix; remove prettier; pre-commit autoupdate; fix spelling
  .github/labeler.yml
  .github/linters/.markdown-lint.yml
  .pre-commit-config.yaml
  .prettierrc
  lib/mruby/build/load_gems.rb
  tools/lrama/NEWS.md
Labels: build, github, miscellaneous

#6293 Changed the instruction table in `opcode.md`
  doc/internal/opcode.md
  lib/mruby/doc.rb
Labels: build, doc

#6294 Optimise `mrb_iv_get`
  include/mruby/boxing_nan.h
  include/mruby/boxing_no.h
  include/mruby/boxing_word.h
  include/mruby/value.h
  src/variable.c
Labels: core
