Repository mruby/mruby, pull requests merged in 2024-11, with the labels that each got.

#6397 boxing_no.h: rename BOXNIX_SET_VALUE -> BOXNO_SET_VALUE
  include/mruby/boxing_no.h
Labels: core

#6399 Add macOS 15 to the build
  .github/workflows/build.yml
Labels: github

#6405 `io_read`: use `%i` instead of `%d` in call to `mrb_raisef`
  mrbgems/mruby-io/src/io.c
Labels: mrbgems

#6407 Allow to exclude specific files in `rake install`
  doc/guides/compile.md
  lib/mruby/build.rb
  tasks/install.rake
Labels: build, doc

#6408 Improve compliance with C++ standards
  mrbgems/mruby-io/src/file.c
  src/dump.c
Labels: core, mrbgems

#6410 Put `#include <stdlib.h>` in `parse.y`
  mrbgems/mruby-compiler/core/parse.y
Labels: mrbgems

#6412 Distinguish the call frame of the generator with `OP_RETURN_BLK`
  src/vm.c
  test/t/bs_block.rb
Labels: core

#6413 Add links to documentation in `README.md`
  README.md
  doc/guides/compile.md
  doc/guides/debugger.md
  doc/guides/gc-arena-howto.md
  doc/guides/link.md
  doc/guides/memory.md
  doc/guides/mrbconf.md
  doc/guides/mrbgems.md
  doc/guides/symbol.md
  doc/internal/boxing.md
  doc/internal/opcode.md
  doc/limitations.md
  tasks/doc.rake
Labels: build, doc

#6416 Optimize the "new" method's iseq
  src/class.c
Labels: core

#6417 Disable linting of email addresses in markdown files
  .github/linters/mlc_config.json
Labels: github

#6415 Fix numbered parameters when used as a singleton
  mrbgems/mruby-compiler/core/parse.y
  test/t/syntax.rb
Labels: core, mrbgems

#6419 Follow Ruby's behavior for numbered parameters in -> {}
  mrbgems/mruby-compiler/core/parse.y
  test/t/syntax.rb
Labels: core, mrbgems

#6420 Update `labeler.yml`: add label for the `tools` directory
  .github/labeler.yml
Labels: github

#6422 Add annotations for function names defined in the preprocessor
  src/hash.c
Labels: core

#6423 Adding a serialized test task
  .github/workflows/build.yml
  .travis.yml
  appveyor.yml
  docker-compose.yml
  tasks/test.rake
Labels: build, github

#6424 Makefile: Add check_command to check before running docker-compose, pre-commit commands
  Makefile
Labels: build

#6426 Add GitHub Actions workflow for coverage reporting
  .github/workflows/coverage.yml
Labels: github

#6428 Change the limits of OP_ADDI and OP_SUBI from 0-127 to 0-255.
  mrbgems/mruby-compiler/core/codegen.c
Labels: mrbgems

#6427 Need to update `ci` variable after re-entry to VM
  src/vm.c
Labels: core

#6431 Fixed typo
  mrbgems/mruby-bigint/core/bigint.c
Labels: mrbgems

#6429 Fix numbered parameters when used as hash keys
  mrbgems/mruby-compiler/core/parse.y
  test/t/syntax.rb
Labels: core, mrbgems

#6409 [CI] Add `prettier` to `pre-commit`
  .pre-commit-config.yaml
  .prettierignore
  .prettierrc
  README.md
Labels: build, doc

#6432 Moving code in macro arguments out of macros
  src/hash.c
Labels: core

#6436 Make `rake doc:update-index` prettier friendly
  README.md
  tasks/doc.rake
Labels: build, doc

#6438 Remove unused `MRuby::Build#list_install_excludes` method
  lib/mruby/build.rb
Labels: build

#6437 Add more details to the pre-commit config
  .pre-commit-config.yaml
Labels: build

#6434 Added document "Layout of the mruby filesystem"
  README.md
  doc/guides/hier.md
Labels: doc
