Repository mruby/mruby, pull requests merged in 2024-10, with the labels that each got.

#6373 Add build config for Milk-V Duo (RISC-V Linux) board
  build_config/milkv_duo.rb
Labels: build

#6375 docs: fix grammar
  mrbgems/mruby-bigint/README-fgmp.md
Labels: mrbgems

#6376 Fix a typo in irep.h
  include/mruby/irep.h
Labels: core

#6378 Add `pre-commit` hook `pretty-format-json`
  .pre-commit-config.yaml
Labels: build

#6377 Add `pre-commit` hook `oxipng` for `lossless` PNG compression
  .pre-commit-config.yaml
  doc/mruby_logo_red_icon.png
Labels: build, doc

#6379 Add `pre-commit` hook `gitleaks` to detect and prevent hardcoded secrets
  .github/workflows/super-linter.yml
  .pre-commit-config.yaml
Labels: build, github

#6381 #6380: Fix indentation to include break after function return type
  include/mruby/value.h
Labels: core

#6005 Build and test on macOS 13
  .github/workflows/build.yml
Labels: github

#6383 Remove macOS 12 from the build
  .github/workflows/build.yml
Labels: github

#6358 gha: add Ubuntu 24.04 to the build
  .github/workflows/build.yml
Labels: github

#6382 Make array objects invisible in `mrb_gc_register()`
  src/gc.c
Labels: core

#6385 Small improvements for `mrb_gc_register()`
  src/gc.c
Labels: core

#6386 Avoid calling `mrb_gv_set()` from `mrb_gc_unregister()`
  src/gc.c
Labels: core

#6387 Small improvements for `mrb_gc_unregister()`
  src/gc.c
Labels: core

#6391 Fixed argument forwarding in `instance_exec`
  include/mruby/internal.h
  mrbgems/mruby-class-ext/src/class.c
  mrbgems/mruby-class-ext/test/class.rb
  mrbgems/mruby-object-ext/src/object.c
  mrbgems/mruby-object-ext/test/object-ext.c
  mrbgems/mruby-object-ext/test/object.rb
  src/vm.c
Labels: core, mrbgems

#6392 Fix argument forwarding in `mrb_exec_irep()`
  src/vm.c
Labels: core

#6393 Follow-up to #6391
  src/vm.c
Labels: core

#6395 Storing method-id inside Symbol#to_proc
  mrblib/symbol.rb
Labels: core

#6396 Milk-V Build Config: update GPIO gem URL
  build_config/milkv_duo.rb
Labels: build
