Repository mruby/mruby, pull requests merged in 2024-04, with the labels that each got.

#6191 Speed up symbol equality comparison
  src/symbol.c
  src/vm.c
Labels: core

#6224 `mrb_env_unshare()` to break the link to fiber
  src/vm.c
Labels: core

#6227 fix: `Array#shuffle(!)` result distribution
  mrbgems/mruby-random/src/random.c
Labels: mrbgems

#6228 Revert "`env` referred from top-level callinfo should not be unshared; fix #4019"
  src/vm.c
Labels: core

#6230 Fix status of fiber after switched by exception raised
  src/vm.c
Labels: core

#6232 Fold the code for freeing `env`
  src/gc.c
Labels: core

#6231 Add a way to let other gems handle closing of fds in mruby-io
  mrbgems/mruby-io/include/mruby/ext/io.h
  mrbgems/mruby-io/src/io.c
Labels: mrbgems

#6233 Free stack memory at end of fiber
  mrbgems/mruby-fiber/src/fiber.c
  src/vm.c
Labels: core, mrbgems

#6236 unify the code for filter methods (and speed up `#reject!`)
  mrbgems/mruby-array-ext/mrblib/array.rb
Labels: mrbgems

#6238 Minimize zero initialization of the stack
  mrbgems/mruby-fiber/src/fiber.c
  src/vm.c
Labels: core, mrbgems

#6237 Stricter env objects to attach to ci
  include/mruby/proc.h
  src/vm.c
Labels: core

#6235 fix `Array#delete` always firing the block when deleting `nil`
  mrblib/array.rb
  src/array.c
Labels: core

#6243 Fixed base64 decoding in `mruby-pack`
  mrbgems/mruby-pack/src/pack.c
Labels: mrbgems

#6245 gha: add labels to more files
  .github/labeler.yml
Labels: github

#6246 Fix typo in `test/t/hash.rb`
  test/t/hash.rb
Labels: core

#6248 pre-commit autoupdate
  .pre-commit-config.yaml
Labels: build

#6249 Fix grammar in `src/vm.c`; `catched` -> `caught`
  src/vm.c
Labels: core

#6247 Clean up the `.dockerignore` file
  .dockerignore
Labels: build

#6251 Clean up root move `CODEOWNERS` to `.github` directory
  .github/CODEOWNERS
  .github/labeler.yml
Labels: github

#6244 Revise scope of role of `mrb_vm_run()`
  src/vm.c
Labels: core

#6253 Allow recycling fibers by GC if not referenced directly
  src/gc.c
  src/vm.c
Labels: core

#6257 fix some mrbconf.md typos
  doc/guides/mrbconf.md
Labels: doc

#6256 Update documentation for `mrb_top_run()`
  include/mruby.h
  include/mruby/compile.h
  include/mruby/irep.h
Labels: core
