Repository mruby/mruby, pull requests merged in 2024-01, with the labels that each got.

#6139 Fix `pre-commit` failure from `prettier`
  .github/linters/.yaml-lint.yml
  .github/workflows/oss-fuzz.yml
  .github/workflows/super-linter.yml
  .gitignore
  .pre-commit-config.yaml
  .prettierrc
  SECURITY.md
  build_config/dreamcast_shelf.rb
  doc/guides/compile.md
  doc/guides/debugger.md
  doc/guides/gc-arena-howto.md
  doc/guides/link.md
  doc/guides/mrbconf.md
  doc/guides/mrbgems.md
  doc/guides/symbol.md
  doc/internal/boxing.md
  doc/mruby3.0.md
  docker-compose.yml
  mrbgems/mruby-bigint/README-fgmp.md
  mrbgems/mruby-io/README.md
Labels: build, doc, github, mrbgems

#6140 actions: label more files for build
  .github/labeler.yml
Labels: github

#6136 Fixed when combined `mrb_fiber_resume()` and `Fiber#transfer`
  src/vm.c
Labels: core

#6147 Fixed buffer overflow in `mrb_memsearch()`
  src/string.c
Labels: core

#6149 Remove unnecessary `Rational._new` method
  mrbgems/mruby-rational/src/rational.c
Labels: mrbgems

#6148 Add Enumerable#grep_v to mruby-enum-ext
  mrbgems/mruby-enum-ext/mrblib/enum.rb
  mrbgems/mruby-enum-ext/test/enum.rb
Labels: mrbgems

#6145 Enumerable#chunk implementation
  mrbgems/mruby-enumerator/mrblib/enumerator.rb
  mrbgems/mruby-enumerator/test/enumerator.rb
Labels: mrbgems

#6154 Check `mrb_bigint_p()` before `mrb_integer()`
  src/numeric.c
Labels: core

#6151 Refer to `mrb->module_class` directly in `mrb_mruby_eval_gem_init()`
  mrbgems/mruby-eval/src/eval.c
Labels: mrbgems

#6152 Retrieving the IO exception class with presym
  mrbgems/mruby-io/include/mruby/ext/io.h
Labels: mrbgems
