Repository mruby/mruby, pull requests merged in 2024-08, with the labels that each got.

#6318 Shrink variables in `mrb_vm_exec()`
  src/vm.c
Labels: core

#6321 Avoid warnings in `lib/**/*.rb`
  lib/mruby/build/command.rb
  lib/mruby/gem.rb
Labels: build

#6322 Fix mrb_ro_data_p on Intel Mac
  include/mruby/value.h
Labels: core

#6320 Shrinking the code in `OP_BREAK` and `OP_RETURN_BLK`
  src/vm.c
Labels: core

#6324 Remove `localjump_error()`
  src/vm.c
Labels: core

#6327 fix ncurses linking issues
  mrbgems/mruby-bin-mirb/mrbgem.rake
Labels: mrbgems

#6330 Add a precondition to call `mrb_env_unshare()`.
  src/vm.c
Labels: core

#6329 Fix use-after-free in `mrb_obj_alloc()`
  src/gc.c
Labels: core

#6331 Restore the GC arena with tests.
  mrbgems/mruby-test/driver.c
  mrbgems/mruby-test/mrbgem.rake
Labels: mrbgems

#6333 Reduce the number of branch instructions in the `heap_p()`
  src/gc.c
Labels: core

#6328 Fix use-after-free in `obj_free()` for env objects
  src/gc.c
Labels: core

#6335 Add `return_ci` in `CHECKPOINT_MAIN()` of `OP_RETURN`
  src/vm.c
Labels: core
