Repository mruby/mruby, pull requests merged in 2024-07, with the labels that each got.

#6295 Revert "Delegate the care of a directly given block from `cipop()` to `cipush()`"
  include/mruby.h
  include/mruby/internal.h
  src/vm.c
Labels: core

#6300 Fix spelling
  mrbgems/mruby-bigint/README-fgmp.md
  mrbgems/mruby-bigint/core/bigint.h
  mrbgems/mruby-bin-debugger/tools/mrdb/cmdbreak.c
  mrbgems/mruby-bin-debugger/tools/mrdb/mrdbconf.h
  mrbgems/mruby-catch/src/catch.c
Labels: mrbgems

#6302 Minor cleanup in mrb_str_init
  src/string.c
Labels: core

#6303 mrb_str_aset_m() should return replace instead of str
  src/string.c
  test/t/string.rb
Labels: core

#6305 Protect keyword arguments in `prepare_missing()`
  mrbgems/mruby-method/test/method.rb
  src/vm.c
Labels: core, mrbgems

#6308 Assume that `MRB_CATCH()` has `mrb->exc` set
  src/vm.c
Labels: core

#6309 Perform pseudo binary search with `mrb_type()`
  include/mruby/boxing_word.h
Labels: core

#6311 Added fast-path for positional arguments less than 15 in `OP_SEND`
  src/vm.c
Labels: core

#6314 Optimize even?/odd? for big integers
  mrbgems/mruby-numeric-ext/src/numeric_ext.c
  mrbgems/mruby-numeric-ext/test/numeric.rb
Labels: mrbgems

#6313 Fix wrong column number in opcode.md
  doc/internal/opcode.md
Labels: doc

#6312 Omit error checking at `OP_RETURN`, `OP_RETURN_BLK` and `OP_BREAK`
  src/vm.c
Labels: core

#6310 Doubling the call stack when extending it
  src/vm.c
Labels: core
