Repository mruby/mruby, pull requests merged in 2024-03, with the labels that each got.

#6190 Pull Request Labeler: Add labels to more files
  .github/labeler.yml
Labels: github

#6184 Remove the `L_STOP` label
  src/vm.c
Labels: core

#6137 Remove unreachable blocks in `OP_RETURN`
  src/vm.c
Labels: core

#6192 Fix `OP_STOP` with exception
  src/vm.c
Labels: core

#6194 Simplify the calculation of the number of closures in `MRB_TT_FIBER`
  src/gc.c
Labels: core

#6193 Fix wrong assertion in `OP_SENDB`.
  src/vm.c
Labels: core

#6197 Fix int_xor to call flo_xor.
  src/numeric.c
Labels: core

#6199 pre-commit: fix the arguments syntax
  .pre-commit-config.yaml
Labels: build

#6201 tasks/doc.rake: standardize the `rake doc` error messages
  tasks/doc.rake
Labels: build

#6202 Remove the `.yardoc` folder with `rake doc:clean:api`
  tasks/doc.rake
Labels: build

#6180 super-linter: set `VALIDATE_GITHUB_ACTIONS` to `true`
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/super-linter.yml
Labels: github

#6200 super-linter: validate the `Dockerfile` with `hadolint`
  .github/linters/.hadolint.yaml
  .github/workflows/super-linter.yml
  Dockerfile
Labels: build, github

#6206 Simplify expansion of mt and iv a bit
  src/class.c
  src/variable.c
Labels: core

#6208 Clean up the `pre-commit` config
  .github/linters/codespell.txt
  .pre-commit-config.yaml
  CONTRIBUTING.md
Labels: build, doc, github

#6213 Add `pre-commit` hook `destroyed-symlinks`
  .pre-commit-config.yaml
Labels: build

#6214 Improve the `pre-commit` and `.github` YAML files
  .github/dependabot.yml
  .github/labeler.yml
  .github/linters/.markdown-lint.yml
  .github/workflows/super-linter.yml
  .pre-commit-config.yaml
Labels: build, github

#6205 GitHub labeler: label more files
  .github/labeler.yml
Labels: github

#6217 Strict declaration for `mrb_istruct_size()`
  include/mruby/istruct.h
Labels: core

#6216 Shared empty `iv_tbl` of module
  mrbgems/mruby-metaprog/test/metaprog.rb
  src/class.c
  src/variable.c
  test/t/module.rb
Labels: core, mrbgems

#6219 Avoid assigning a fixed value in the loop
  src/class.c
Labels: core

#6220 Reorganize `mrb_cache_entry` and `mrb_method_t` types
  doc/guides/mrbconf.md
  include/mrbconf.h
  include/mruby.h
  include/mruby/proc.h
  src/class.c
Labels: core, doc

#6222 Need to synchronize `dbg->regs` after VM call in `mrdb`
  mrbgems/mruby-bin-debugger/tools/mrdb/mrdb.c
Labels: mrbgems

#6221 Arranging `each_backtrace()`
  src/backtrace.c
Labels: core
