Repository mruby/mruby, pull requests merged in 2024-09, with the labels that each got.

#6332 Must not depend on the “host” build to generate `mruby-compiler/core/y.tab.c`
  mrbgems/mruby-compiler/mrbgem.rake
Labels: mrbgems

#6341 Need to restore the GC arena after some function calls
  mrbgems/mruby-data/src/data.c
  mrbgems/mruby-metaprog/src/metaprog.c
  mrbgems/mruby-sprintf/src/sprintf.c
  mrbgems/mruby-struct/src/struct.c
  src/array.c
Labels: core, mrbgems

#6344 prefer using `mrb_yield` to call block arguments
  src/array.c
Labels: core

#6350 Fixed character encoding conversion function mismatch
  mrbgems/mruby-io/src/file.c
Labels: mrbgems

#6349 Perform GC before deleting directories
  mrbgems/mruby-dir/test/dir.rb
Labels: mrbgems

#6347 codegen.c,parse.y: remove flattening of `yield` arguments; fix #6346
  mrbgems/mruby-compiler/core/codegen.c
  mrbgems/mruby-compiler/core/parse.y
Labels: mrbgems

#6338 Need to place static proc objects into 8-byte alignments
  include/mruby/common.h
  mrbgems/mruby-catch/src/catch.c
  src/class.c
  src/proc.c
Labels: core, mrbgems

#6353 Fix use-after-free in `mrb_ary_delete()`
  src/array.c
Labels: core

#6354 Update AUTHORS
  AUTHORS
Labels: miscellaneous

#6340 Fix use-after-free for `Array#<=>`
  src/array.c
Labels: core

#6356 Making splat argument objects invisible from Ruby side
  src/class.c
Labels: core

#6360 Add `pre-commit` hook `actionlint`
  .github/workflows/super-linter.yml
  .pre-commit-config.yaml
Labels: build, github

#6363 Revert "Perform pseudo binary search with `mrb_type()`"
  include/mruby/boxing_word.h
Labels: core

#6367 Fix spelling
  appveyor.yml
  doc/internal/boxing.md
  doc/mruby3.0.md
  doc/mruby3.1.md
  include/mrbconf.h
  include/mruby/boxing_word.h
  include/mruby/irep.h
  mrbgems/mruby-test-inline-struct/test/inline.rb
  src/dump.c
  src/string.c
Labels: build, core, doc, mrbgems

#6368 Add `pre-commit` hook `check-json`
  .pre-commit-config.yaml
Labels: build
