Repository mruby/mruby, pull requests merged in 2024-05, with the labels that each got.

#6260 Remove `exc_caught` from `mrb_vm_exec()`
  src/vm.c
Labels: core

#6261 fix: `to_a` integer ranges with `begin > end` failing
  src/range.c
Labels: core

#6263 fix: `Array#delete` mistakingly calling block even if not passed
  mrblib/array.rb
Labels: core

#6264 Must pass keyword arguments for `Kernel#to_enum`
  mrbgems/mruby-enumerator/mrblib/enumerator.rb
Labels: mrbgems

#6265 Fixes `Dir.children` and `Dir.each_child`
  mrbgems/mruby-dir/mrblib/dir.rb
Labels: mrbgems

#6266 Passes the nonexistent key as a block argument in `Array#delete`
  mrblib/array.rb
  test/t/array.rb
Labels: core

#6273 Improvements to `mrb_protect_atexit()`
  src/error.c
Labels: core

#6275 Fixed `Binding#eval` that failed to assign to the same variable
  mrbgems/mruby-eval/src/eval.c
Labels: mrbgems

#6276 Always run `atexit` on the top-level call frame
  src/error.c
Labels: core

#6279 Include headers for malloc() explicitly; fix #6277
  src/string.c
Labels: core

#6280 Remove `MRB_ENV_CLOSED` flag
  include/mruby/proc.h
  mrbgems/mruby-binding/src/binding.c
  src/vm.c
Labels: core, mrbgems

#6281 Fixes local variables in `mruby-binding`.
  mrbgems/mruby-binding/src/binding.c
  src/proc.c
Labels: core, mrbgems
