Repository mruby/mruby, pull requests merged in 2024-02, with the labels that each got.

#6150 Introduce `mrb_obj_itself()`
  include/mruby.h
  mrbgems/mruby-complex/src/complex.c
  mrbgems/mruby-object-ext/src/object.c
  mrbgems/mruby-rational/src/rational.c
  src/numeric.c
  src/object.c
  src/symbol.c
Labels: core, mrbgems

#6153 Make `MRuby::Gems::List#{each,<<}` method return `self`
  lib/mruby/gem.rb
Labels: build

#6164 super-linter: remove `ERROR_ON_MISSING_EXEC_BIT` check
  .github/workflows/super-linter.yml
Labels: github

#6161 Fixed use-after-free by backtrace object
  include/mruby/internal.h
  include/mruby/value.h
  mrbgems/mruby-os-memsize/src/memsize.c
  src/backtrace.c
  src/gc.c
Labels: core, mrbgems

#6159 Allow to detect use-after-free after `mrb_irep_free()` for debugging
  src/state.c
Labels: core

#6167 Change the `end` parameter of `obj_free()` to a boolean type
  src/gc.c
Labels: core

#6166 Stop pseudo flexible array in `mrb_heap_page`
  src/gc.c
Labels: core

#6141 Update the `mruby3.3.md` file
  NEWS
  doc/mruby3.3.md
Labels: doc

#6169 Merge mruby 3.3.0
  Doxyfile
  README.md
  doc/guides/debugger.md
  include/mruby/version.h
Labels: core, doc

#6171 Add Enumerable::Lazy#grep_v to mruby-enum-lazy
  mrbgems/mruby-enum-lazy/mrblib/lazy.rb
  mrbgems/mruby-enum-lazy/test/lazy.rb
Labels: mrbgems

#6174 Fix `MRUBY_PACKAGE_DIR` in `mruby-config.bat`
  mrbgems/mruby-bin-config/mruby-config.bat
Labels: mrbgems

#6175 Corrected strange conditional in `mrb_vm_run()`
  src/vm.c
Labels: core

#6176 Stop assuming alias proc in `CI_PROC_SET()`
  src/vm.c
Labels: core

#6178 super-linter: set `VALIDATE_GITLEAKS` to `true`
  .github/workflows/super-linter.yml
Labels: github

#6179 pre-commit: add `markdown-link-check` config and ignore links
  .github/linters/mlc_config.json
  .pre-commit-config.yaml
Labels: github

#6177 gha: add macOS 14 to the build
  .github/workflows/build.yml
Labels: github

#6155 Removed `mrb_jmpbuf_id` for C++ exceptions
  include/mruby/throw.h
  src/vm.c
Labels: core

#6186 Omit NULL check of `e->cxt` in `OP_RETURN_BLK`
  src/vm.c
Labels: core

#6185 Added `mrb_callinfo::u.keep_context` for clarity
  include/mruby.h
  mrbgems/mruby-fiber/src/fiber.c
  src/vm.c
Labels: core, mrbgems
