Repository mruby/mruby, pull requests merged in 2024-12, with the labels that each got.

#6443 Fix NODE_NEGATE for bigints
  mrbgems/mruby-compiler/core/codegen.c
Labels: mrbgems

#6440 Fix `redo` keyword
  mrbgems/mruby-compiler/core/codegen.c
  test/t/syntax.rb
Labels: core, mrbgems

#6442 Fixed wrong range condition in `OP_JMPUW`
  src/vm.c
  test/t/syntax.rb
Labels: core

#6446 Omit the `_WIN64` definition check
  mrbgems/mruby-bin-mruby/tools/mruby/mruby.c
  mrbgems/mruby-dir/src/dir.c
  mrbgems/mruby-dir/test/dirtest.c
  mrbgems/mruby-io/src/file.c
  mrbgems/mruby-io/src/file_test.c
  mrbgems/mruby-io/src/io.c
  mrbgems/mruby-io/test/mruby_io_test.c
  mrbgems/mruby-socket/test/sockettest.c
Labels: mrbgems

#6447 Fixed `File.expand_path`
  mrbgems/mruby-io/mrblib/file.rb
  mrbgems/mruby-io/src/file.c
  mrbgems/mruby-io/test/file.rb
  mrbgems/mruby-io/test/mruby_io_test.c
Labels: mrbgems

#6448 Suppress presym in `mruby/ext/io.h` file
  mrbgems/mruby-io/include/mruby/ext/io.h
Labels: mrbgems

#6449 Using presym in the `mruby-io/src/file_test.c` file
  mrbgems/mruby-io/src/file_test.c
Labels: mrbgems

#6454 mruby-bigint: handle rhs bigint in int_mod and int_divmod functions
  src/numeric.c
Labels: core

#6455 mruby-bigint: fix rounding behavior in mpz_mdiv and mpz_mdivmod functions
  mrbgems/mruby-bigint/core/bigint.c
Labels: mrbgems

#6450 Change `MRB_WITH_IO_PREAD_PWRITE` configuration name
  build_config/i586-pc-msdosdjgpp.rb
  mrbgems/mruby-io/include/mruby/ext/io.h
  mrbgems/mruby-io/src/io.c
  mrbgems/mruby-io/test/io.rb
  mrbgems/mruby-io/test/mruby_io_test.c
Labels: build, mrbgems

#6457 bigint: fix bug with division of a small number by a bigint
  mrbgems/mruby-bigint/core/bigint.c
Labels: mrbgems

#6444 Add test cases for bigints
  mrbgems/mruby-bigint/test/bigint.rb
Labels: mrbgems

#6459 `FileTest` is a module
  mrbgems/mruby-io/src/file_test.c
Labels: mrbgems
