Repository mruby/mruby, pull requests merged in 2025-04, with the labels that each got.

#6505 mrbgems: fix spelling
  mrbgems/mruby-compiler/core/parse.y
  mrbgems/mruby-io/src/file.c
Labels: mrbgems

#6510 Fixed class method visibility via `module_function`
  src/class.c
  test/t/module.rb
Labels: core

#6511 Exclude the external project "lrama" from pre-commit
  .pre-commit-config.yaml
Labels: build

#6513 mruby 3.4.0 released
  Doxyfile
  NEWS
  README.md
  doc/guides/debugger.md
  include/mruby/version.h
Labels: build, core, doc

#6517 core/codegen.c: remove unneeded duplicate semicolon
  mrbgems/mruby-compiler/core/codegen.c
Labels: mrbgems

#6518 Change mrbc_args.flags bit width from 2 to 3.
  mrbgems/mruby-bin-mrbc/tools/mrbc/mrbc.c
Labels: mrbgems
