Repository mruby/mruby, pull requests merged in 2025-07, with the labels that each got.

#6569 sed s/Mruby/MRuby/g
  mrbgems/mruby-bin-debugger/bintest/mrdb.rb
  mrbgems/mruby-bin-debugger/bintest/print.rb
Labels: mrbgems

#6566 Removed unreferenced variables in `CrossBuild#run_bintest`
  lib/mruby/build.rb
Labels: build

#6567 Avoid array object creation in `cmd_bin` method in bintest
  test/bintest.rb
Labels: core

#6571 Update limitations.md to add behavior on small hash
  doc/limitations.md
Labels: doc

#6572 Add Claude Code GitHub Workflow
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Labels: github

#6573 pre-commit fixes and updates
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  .pre-commit-config.yaml
Labels: build, github

#6581 Merge `mrb_obj_iv_inspect()` into `mrb_obj_inspect()`
  include/mruby/internal.h
  src/kernel.c
  src/variable.c
Labels: core

#6582 Stricter type tag in `mrb_obj_alloc()`
  src/class.c
  src/gc.c
Labels: core

#6585 Fix typo in mruby3.2 docs
  doc/mruby3.2.md
Labels: doc, codex

#6587 Add Set#hash tests
  mrbgems/mruby-set/test/set.rb
Labels: mrbgems, codex

#6588 Add CodeQL Analysis for GitHub Actions
  .github/workflows/codeql-analysis.yml
Labels: github

#6591 mruby-eval fix license link in README
  mrbgems/mruby-eval/README.md
Labels: mrbgems

#6583 Add fallback to local build_config.rb before using default configuration
  lib/mruby/build.rb
Labels: build
