Repository mruby/mruby, pull requests merged in 2025-06, with the labels that each got.

#6541 Add descriptive comments for MRB_API functions in src/array.c
  src/array.c
Labels: core

#6545 Add descriptive comments for MRB_API functions in src/class.c
  src/class.c
Labels: core

#6544 Fix build strings that must be mutable
  tasks/mrbgems.rake
Labels: build

#6556 `iv_foreach()` needs to update the pointer at each loop
  src/variable.c
Labels: core

#6555 `mrb_mt_foreach()` needs to update the pointer at each loop
  src/class.c
Labels: core

#6564 Remove jumanjihouse pre-commit hooks no longer maintained
  .pre-commit-config.yaml
Labels: build

#6563 pre-commit add rubocop with one rule spaces for indentation
  .github/linters/.rubocop.yml
  .pre-commit-config.yaml
Labels: build, github
