Repository mruby/mruby, pull requests merged in 2025-01, with the labels that each got.

#6462 Properly cast the return value of `memchr()`
  mrbgems/mruby-io/src/file.c
  mrbgems/mruby-io/test/mruby_io_test.c
Labels: mrbgems

#6463 Add `level` argument to `File.dirname`
  mrbgems/mruby-io/src/file.c
  mrbgems/mruby-io/test/file.rb
Labels: mrbgems

#6461 To create a release package file in draft
  .github/workflows/release.yml
Labels: github

#6465 Add initial playstation portable crossbuild support
  build_config/playstationportable.rb
Labels: build

#6468 Fixed missing changes to `IB_FIND_BY_KEY()` parameter names
  src/hash.c
Labels: core

#6470 Adjusting indentation
  build_config/playstationportable.rb
Labels: build

#6469 Add more `const` qualifier for `RProc`
  include/mruby.h
  include/mruby/internal.h
  include/mruby/proc.h
  mrbgems/mruby-bin-mrbc/tools/mrbc/mrbc.c
  mrbgems/mruby-method/src/method.c
  src/class.c
  src/proc.c
  src/vm.c
Labels: core, mrbgems

#6472 Moved tests for `Integer#quo`
  mrbgems/mruby-rational/test/rational.rb
  test/t/integer.rb
Labels: core, mrbgems
