Repository mruby/mruby, pull requests merged in 2025-05, with the labels that each got.

#6520 pre-commit: autoupdate and update node LTS version
  .pre-commit-config.yaml
Labels: build

#6512 Fixed visibility at method definition
  include/mruby.h
  include/mruby/internal.h
  include/mruby/proc.h
  include/mruby/value.h
  mrbgems/mruby-eval/src/eval.c
  mrbgems/mruby-eval/test/eval.rb
  mrbgems/mruby-method/src/method.c
  mrbgems/mruby-struct/test/struct.rb
  src/class.c
  src/proc.c
  src/vm.c
  test/t/module.rb
Labels: core, mrbgems

#6522 gha: label more files
  .github/labeler.yml
Labels: github

#6524 Fix Kernel#p when no argument
  src/kernel.c
  test/t/kernel.rb
Labels: bug, core

#6523 add `rand(Range)` and unify implementations of `Random#rand` and `Kernel#rand`
  mrbgems/mruby-random/src/random.c
  mrbgems/mruby-random/test/random.rb
Labels: mrbgems

#6525 Skip adding empty input to mirb history
  mrbgems/mruby-bin-mirb/tools/mirb/mirb.c
Labels: mrbgems

#6526 Add build config for Luckfox Pico embedded SBC
  build_config/luckfox_pico.rb
Labels: build

#6418 Add `ls-lint` with GitHub Actions
  .github/linters/.ls-lint.yml
  .github/workflows/lint.yml
  mrbgems/mruby-bin-strip/bintest/mruby_strip.rb
  mrbgems/mruby-bin-strip/tools/mruby-strip/mruby_strip.c
  mrbgems/mruby-exit/src/mruby_exit.c
  mrbgems/mruby-hash-ext/src/hash_ext.c
  mrbgems/mruby-object-ext/test/object_ext.c
  mrbgems/mruby-proc-binding/src/proc_binding.c
  mrbgems/mruby-proc-binding/test/proc_binding.c
  mrbgems/mruby-proc-binding/test/proc_binding.rb
Labels: github, mrbgems

#6528 misc: fix spelling
  CONTRIBUTING.md
  NEWS
  doc/guides/compile.md
  doc/guides/debugger.md
  doc/guides/mrbgems.md
  doc/mruby3.1.md
  doc/mruby3.4.md
  mrbgems/mruby-bigint/README-fgmp.md
  mrbgems/mruby-bigint/core/bigint.h
  mrbgems/mruby-bin-mruby/tools/mruby/mruby.c
  src/error.c
Labels: core, doc, mrbgems

#6530 Revert "class.c (find_visibility_scope): when callinfo returns, *ep == NULL; #6512"
  src/class.c
  test/t/module.rb
Labels: core

#6531 Improve method table performance by rehashing at 75% load factor.
  src/class.c
Labels: core

#6532 I've reverted method table optimizations to prioritize memory savings…
  src/class.c
Labels: core

#6533 Fix calling `extended` callback
  src/class.c
  test/t/class.rb
Labels: core

#6534 Add descriptive comment to mrb_read_float function
  src/readfloat.c
Labels: core

#6536 Add descriptive comments to public functions in src/debug.c
  src/debug.c
Labels: core

#6539 Here's the rewritten message:
  src/string.c
Labels: core
