Repository mruby/mruby, pull requests merged in 2025-03, with the labels that each got.

#6487 Add Emscripten toolchain & build_config
  build_config/emscripten-cxx.rb
  build_config/emscripten.rb
  mrbgems/mruby-cmath/src/cmath.c
  tasks/toolchains/emscripten.rake
Labels: build, mrbgems

#6492 fix a typo, update specs
  src/vm.c
  test/t/module.rb
Labels: core

#6493 Fix TYPO in memory.md
  doc/guides/memory.md
Labels: doc

#6495 Remove `MRB_ENDIAN_LOHI()` that is no longer in use
  include/mruby/value.h
Labels: core

#6498 Clean up and standardize the pre-commit config
  .pre-commit-config.yaml
Labels: build

#6497 gha: update `build.yml` try `windows-2025` image
  .github/workflows/build.yml
Labels: github

#6501 Update pre-commit Node.js version to `v22.14.0 LTS`
  .pre-commit-config.yaml
Labels: build

#6502 pre-commit: update prettier to the latest version
  .pre-commit-config.yaml
Labels: build

#6503 misc: fix typos
  doc/mruby3.4.md
  src/array.c
Labels: core, doc
