Repository mruby/mruby, pull requests merged in 2025-08, with the labels that each got.

#6601 fix: skip local build_config.rb when working in MRUBY_ROOT
  lib/mruby/build.rb
Labels: build

#6602 Improved iseq annotations for `new` and `!=`
  src/class.c
Labels: core

#6600 `dreamcast_shelf build config`: update to use KallistiOS wrappers
  build_config/dreamcast_shelf.rb
Labels: build

#6607 fix bigint on raspberry pi
  src/vm.c
Labels: core

#6610 Extract golden ration prime into constant
  mrbgems/mruby-set/src/set.c
Labels: mrbgems
